@media screen and (max-width :  540px) {
.container{
    margin: 2rem;
    row-gap: 3.6rem;
    column-gap: .7rem;
    grid-template-columns: 1fr 1fr;
}

.cards{
   img{
        max-width: 100%;
    }

    >div{
        max-width: 70%;
    }
}

.topbtn{
    button{
        font-size: 2rem;
    }
}


.popup {
    padding: 6rem 2rem 2rem;
    .body{
        width: 100%;
        padding: 1rem;

        img{
            width: 100%;
            border-radius: 5%;
        }
    }
    p{
        font-size: 1.4rem;
    }

    .nut{
        gap: 0;
    }
}
}     