.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem;
  padding: 2rem;

  button {
    border: 0;
    padding-bottom: 5rem;
    width: 80%;
    margin: auto;
    outline: 0;
    height: 100%;
    background: transparent;
  }
}

.cards {
  height: 100%;
  position: relative;

  div {
    width: 100%;
    border-radius: 12px;
    bottom: 0;
    color: white;
    position: absolute;
    background: rgb(51, 65, 85);
    background: rgb(51, 65, 85, 0.7);
    height: 100%;

    @include dflex(row,center,center);

    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  p {
    font-size: 3vw;
  }

  img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.sbtn {
  color: $black;
  font-size: 2.6rem;
  padding: 0.5rem 0.5rem 0;
  border: 0;
  background: transparent;
}

.sp {
  text-align: center;
  margin-left: -75rem;
  font-size: 2rem;
}
