.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem;
  padding: 2rem;

  button {
    border: 0;
    padding-bottom: 5rem;
    width: 80%;
    margin: auto;
    outline: 0;
    height: 100%;
    position: relative;
    background: transparent;
  }
}

.cards {
  height:100%;

  div {
    border: 0;
    padding-bottom: 5rem;
    width: 80%;
    margin: auto;
    outline: 0;
    height: 100%;
    position: relative;
    background: transparent;

    &:hover{
      opacity: 1;
    }
  }

  img {
    max-width: 80%;
    height: 100%;
    border-radius: 12px;
  }

}

.sbtn {
  color:$blue;
  font-size: 2.6rem;
  padding: 0.5rem 0.5rem 0;
  border: 0;
  background: transparent;
}

.sp {
  text-align: center;
  margin-left: -75rem;
  font-size: 2rem;
}
