nav {
  background-color: $blue;
  height: 10vh;
  padding: 1.5rem;
  @include dflex(row,space-between,center);
  width: 100%;

  a{
    svg {
      font-size: 4rem;
      color: $black;
    }
  }
  
}

.search {
  text-align: end;
  margin-top: -5rem;
  padding-right: 3rem;

  >div {
    @include dflex(row,flex-end,center);
  }

  select {
    margin-right: 0.5rem;

    option {
      font-size: medium;
    }
  }

  input,
  select {
    border-color: $blue;
    font-size: 1.6rem;
    border-radius: 6px;
    padding: 0.5rem;
    color:$blue;

    &::placeholder {
     color: $blue;
    }
  }

  button {
    @extend .sbtn;
  }
}
