.popup {
  padding: 2rem;

  p {
    font-size: 1.8rem;
    font-weight: 600;
  }

  button {
    font-size: 2rem;
    box-shadow: none;
    border: 0;
    outline: 0;
    background: transparent;
  }

  .body {
    margin: auto;
    width: 100%;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;

    img {
      max-width: 50%;
      border-radius: 5%;
    }

    li {
      list-style: none;

      @include dflex(row, space-between, center);
    }

    p {
      padding: 0.5rem 0.5rem 0;
    }
  }

  .nut {
    gap: 1.5rem;

    @include dflex(column, flex-start, flex-start);

    ul {
      width: 100%;
    }
  }

  .li {
    @include dflex(column, flex-start, flex-start);
  }
}

.lists {
  width: 70%;
}
