* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 0 0 3rem;
}

nav {
  background-color: rgb(51, 65, 85);
  height: 10vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav a svg {
  font-size: 4rem;
  color: black;
}

.search {
  text-align: end;
  margin-top: -5rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.search > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search select {
  margin-right: 0.5rem;
}

.search select option {
  font-size: medium;
}

.search input,
.search select {
  border-color: rgb(51, 65, 85);
  font-size: 1.6rem;
  border-radius: 6px;
  padding: 0.5rem;
  color: rgb(51, 65, 85);
}

.search input::-moz-placeholder,
.search select::-moz-placeholder {
  color: rgb(51, 65, 85);
}

.search input:-ms-input-placeholder,
.search select:-ms-input-placeholder {
  color: rgb(51, 65, 85);
}

.search input::placeholder,
.search select::placeholder {
  color: rgb(51, 65, 85);
}

.spinner {
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem;
  padding: 2rem;
}

.container button {
  border: 0;
  padding-bottom: 5rem;
  width: 80%;
  margin: auto;
  outline: 0;
  height: 100%;
  background: transparent;
}

.cards {
  height: 100%;
  position: relative;
}

.cards div {
  width: 100%;
  border-radius: 12px;
  bottom: 0;
  color: white;
  position: absolute;
  background: rgb(51, 65, 85);
  background: rgba(51, 65, 85, 0.7);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.cards div:hover {
  opacity: 1;
}

.cards p {
  font-size: 3vw;
}

.cards img {
  max-width: 100%;
  height: 100%;
  border-radius: 12px;
}

.sbtn,
.search button {
  color: black;
  font-size: 2.6rem;
  padding: 0.5rem 0.5rem 0;
  border: 0;
  background: transparent;
}

.sp {
  text-align: center;
  margin-left: -75rem;
  font-size: 2rem;
}

.popup {
  padding: 2rem;
}

.popup p {
  font-size: 1.8rem;
  font-weight: 600;
}

.popup button {
  font-size: 2rem;
  box-shadow: none;
  border: 0;
  outline: 0;
  background: transparent;
}

.popup .body {
  margin: auto;
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.popup .body img {
  max-width: 100%;
  border-radius: 5%;
}

.popup .body li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popup .body p {
  padding: 0.5rem 0.5rem 0;
}

.popup .nut {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup .nut ul {
  width: 100%;
}

.popup .li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.lists {
  width: 70%;
}

.scrollbtn {
  display: block;
}

.scrollDown {
  display: none;
}

.topbtn {
  position: fixed;
  bottom: 0;
  right: 3vh;
  height: 10vh;
}

.topbtn button {
  border: 0;
  background: transparent;
  font-size: 3rem;
}

@media screen and (max-width: 540px) {
  nav a svg {
    font-size: 3rem;
  }

  .container {
    margin: 2rem;
    row-gap: 3.6rem;
    -moz-column-gap: 0.7rem;
    column-gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
  }

  .container button {
    padding: 0;
  }

  .cards img {
    max-width: 100%;
  }

  .cards > div {
    max-width: 70%;
  }

  .topbtn button {
    font-size: 2rem;
  }

  .search input,
  .search select {
    font-size: 0.6rem;
  }

  .search button {
    font-size: 1.6rem;
  }

  .popup {
    padding: 6rem 2rem 2rem;
  }

  .popup .body {
    width: 100%;
    padding: 1rem;
  }

  .popup .body img {
    width: 100%;
  }

  .popup p {
    font-size: 1.4rem;
  }

  .popup .nut {
    gap: 0;
  }
}

@media screen and (max-width: 714px) {
  .popup .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .popup .body img {
    max-width: 100%;
  }
}
