* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 0 0 3rem;
}

nav {
  background-color: rgb(51, 65, 85);
  height: 10vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav svg {
  font-size: 4rem;
  color: black;
}

.search {
  text-align: end;
}
.search > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.search select {
  margin-right: 0.5rem;
}
.search select option {
  font-size: medium;
}
.search input,
.search select {
  border-color: rgb(51, 65, 85);
  font-size: 1.6rem;
  border-radius: 6px;
  padding: 0.5rem;
  color: rgb(51, 65, 85);
}
.search input::-moz-placeholder, .search select::-moz-placeholder {
  color: rgb(51, 65, 85);
}
.search input:-ms-input-placeholder, .search select:-ms-input-placeholder {
  color: rgb(51, 65, 85);
}
.search input::placeholder,
.search select::placeholder {
  color: rgb(51, 65, 85);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4rem;
  padding: 2rem;
}
.container button {
  border: 0;
  padding-bottom: 5rem;
  width: 80%;
  margin: auto;
  outline: 0;
  height: 100%;
  position: relative;
  background: transparent;
}

.cards {
  height: 100%;
}
.cards div {
  border: 0;
  padding-bottom: 5rem;
  width: 80%;
  margin: auto;
  outline: 0;
  height: 100%;
  position: relative;
  background: transparent;
}
.cards div:hover {
  opacity: 1;
}
.cards img {
  max-width: 80%;
  height: 100%;
  border-radius: 12px;
}

.sbtn, .search button {
  color: rgb(51, 65, 85);
  font-size: 2.6rem;
  padding: 0.5rem 0.5rem 0;
  border: 0;
  background: transparent;
}

.sp {
  text-align: center;
  margin-left: -75rem;
  font-size: 2rem;
}

.popup {
  padding: 10rem 2rem 2rem;
}
.popup p {
  font-size: 1.8rem;
  font-weight: 600;
}
.popup button {
  font-size: 2rem;
  box-shadow: none;
  border: 0;
  outline: 0;
  background: transparent;
}
.popup .body {
  margin: auto;
  width: 37%;
  padding-top: 5rem;
}
.popup .body img {
  max-width: 40rem;
}
.popup .body li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popup .body p {
  padding: 0.5rem 0.5rem 0;
}
.popup .nut {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.popup .li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.scrollbtn {
  display: block;
}

.scrollDown {
  display: none;
}

.topbtn {
  position: fixed;
  bottom: 0;
  right: 3vh;
}
.topbtn button {
  border: 0;
  background: transparent;
  font-size: 3rem;
}

@media screen and (max-width: 540px) {
  .container {
    margin: 2rem;
    row-gap: 3.6rem;
    -moz-column-gap: 0.7rem;
         column-gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
  }
  .cards img {
    max-width: 100%;
  }
  .cards > div {
    max-width: 70%;
  }
  .topbtn button {
    font-size: 2rem;
  }
  .popup {
    padding: 6rem 2rem 2rem;
  }
  .popup .body {
    width: 100%;
    padding: 1rem;
  }
  .popup .body img {
    width: 100%;
    border-radius: 5%;
  }
  .popup p {
    font-size: 1.4rem;
  }
  .popup .nut {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */